@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
   background-image: linear-gradient(to bottom, rgb(21, 75, 235),rgb(0, 102, 255));
   padding: 10px;
   color: white;
   margin-bottom: 5%;
   text-align: start;
    
}
#imga{
   
      display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

h1{
    font-weight: 900;
margin-bottom: 1.5%;
}
.pesquisa{
    background-color: rgb(130, 127, 127);
    display: inline-block;
    padding: 5px;
    color: white;
    border-radius: 3px;
}

div{
    display: flex;
    justify-content: flex-start;
    gap: 3px;
    width: 98%;
    height: 10vh;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 98, 255);


}
fieldset{
    background-image: linear-gradient(to left, yellow, blue);
    width: 90%;
    height: 50%;
    padding: 5px;
    margin: auto;
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto  ;
    grid-template-rows: 90px 90px ;
    justify-content:space-between;
    justify-items: center;
    border: 3px solid rgb(0, 187, 255);
    border-radius: 4px;
}
button{
    background-image: linear-gradient(to right, rgb(18, 78, 245), rgba(255, 255, 0, 0.772));
    padding: 8px;
    border: 2px solid rgba(71, 71, 224, 0.842);
    border-radius: 3px;
    color: white;
    width: 20%;
}
@media screen and (min-width:768px) {
     fieldset{
        grid-template-columns: auto auto auto ;
    grid-template-rows: 90px 90px 90px ;
    }
    
}
 